.house-card {
  border: 1px solid $gray-light;
  width: 100%;
  height: 350px;
  margin-top: 20px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;

  &__display {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    &-image {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &-row {
      width:100%;
      height: 36px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 16px 4px;
      z-index: 1;
      

      &-price {
        font-size: 36px;
        margin: 8px;
        color: #ffffff;
        text-shadow: 1px 1px 10px #000000;
        letter-spacing: 1px;
        z-index: 1;
      }

      &-heart {
        width: 36px;
        height: 36px;
        margin: 8px;
        z-index: 1;
        fill: transparent;
        stroke: #ffffff;
        
        &[data-is-like='true']{
          fill: #ff0000;
          stroke: #ff0000;
        }

        

        &:hover {
          stroke: #ff0000;
        }
      }
    }
  }

  &__info {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
  }
}
