.device {
  width: 142px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0;

  &-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

@include mobile-media {
  .device {
    width: 100px;

    &-icon {
      width: 12px;
      height: 12px;
    }
  }
}
