.member {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__poster {
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-title {
      position: absolute;
      width: 160px;
      font-size: 24px;
      color: #ffffff;
      background-color: rgba(128, 128, 128, 0.7);
      padding: 6px;
      padding-left: 13px;
      border-radius: 5px;
      letter-spacing: 10px;
      text-align: center;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 160px;

    &-tab {
      width: 160px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-button {
        width: 96px;
        margin: 16px 0px;
      }
    }

    &-content {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
    }
  }
}

@include mobile-media {
  .member {
    &__poster {
      height: 220px;
    }

    &__main {
      flex-direction: column-reverse;
      align-items: center;
      margin: 16px 0px;

      &-tab {
        width: 80%;
        height: 100%;
        border-top: 1px solid $gray-light;

        margin: 8px;
        padding: 16px;

        &-button {
          width: 96px;
          margin: 8px 0px;
        }
      }
    }
  }
}
