.dot {
  background-color: $color-white;
  border: 1px black solid;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 4px;
  cursor: pointer;

  @include mobile-media {
    width: 10px;
    height: 10px;
    margin: 2px;
  }

  &[data-is-active='true'] {
    background-color: $color-black;
  }
}
