.post {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px;

    &__thumbnail{
      margin: 0px 8px 24px 8px;

      &-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 12px;

        &-item {
          width: 80px;
        }
      }
    }

    &__empty {
      width: 100%;
      text-align: center;
    }
  }
}
