.modal-cover {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  border-radius: 6px;

  &__header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray-light;
    padding: 16px;

    &-back {
      width: 20px;
      height: 20px;
      fill: $gray-light;
      cursor: pointer;
    }

    &-title {
      width: 100%;
      display: flex;
      justify-content: center;

      &-text {
        font-size: 22px;
        color: $gray;
      }
    }
  }

  &__body {
    min-height: 120px;
    padding: 8px 16px;
    overflow-y: scroll;
  }

  &__footer {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $gray-light;

    &-button {
      width: 90px;
      margin: 4px;
    }
  }
}
