.result {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 12px 20px 20px 20px;
  background-color: $gray-lighter;

  &__amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.filter {
  width: 100%;
  background-color: #ffffff;
  padding: 8px;

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px $gray-light;

    &__title {
      width: 30%;
    }

    &__rent {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: row;
      margin: 20px;
      padding: 16px 8px;
      position: relative;

      &-slider {
        appearance: none;
        background-color: #ffffff;
        border: 3px solid $color-primary-light;
        border-radius: 100%;
        cursor: pointer;
        display: block;
        height: 1rem;
        margin-left: -0.5rem;
        margin-top: -0.65rem;
        outline: none;
        position: absolute;
        top: 50%;
        transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
        width: 1rem;
      }

      &-track {
        background: #eeeeee;
        border-radius: 0.3rem;
        cursor: pointer;
        display: block;
        height: 0.3rem;
        position: relative;
        transition: left 0.3s ease-out, width 0.3s ease-out;

        &.active {
          background: $color-primary-light;
        }
      }

      &-value {
        color: $color-primary-light;
        position: absolute;
        top: 6px;
      }

      &-label {
        display: none;
      }
    }

    &__button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      box-sizing: border-box;
      margin: 8px;
    }
  }
}
