// types
$types: (
  default: (
    border-color: $color-black,
    background-color: $color-white,
    color: $color-black,
  ),
  primary: (
    border-color: $color-primary-light,
    background-color: $color-primary-lighter,
    color: $color-white,
  ),
  danger: (
    border-color: $color-danger,
    background-color: $color-danger,
    color: $color-white,
  ),
  brown: (
    border-color: $color-brown,
    background-color: $color-brown,
    color: $color-white,
  ),
);

// sizes
$sizes: (
  xs: (
    height: 28px,
    font-size: $font-size-xs,
  ),
  sm: (
    height: 30px,
    font-size: $font-size-sm,
  ),
  md: (
    height: 34px,
    font-size: $font-size-sm,
  ),
  lg: (
    height: 38px,
    font-size: $font-size-md,
  ),
);

.button {
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;

  @each $type, $styles in $types {
    &[data-type='#{$type}'] {
      border-color: map-get($styles, border-color);
      background-color: map-get($styles, background-color);
      color: map-get($styles, color);
    }
  }

  @each $size, $styles in $sizes {
    &[data-size='#{$size}'] {
      width: map-get($styles, width);
      height: map-get($styles, height);
      font-size: map-get($styles, font-size);
    }
  }

  &[data-is-block='true'] {
    display: flex;
    width: 100%;
  }
}
